name: Update TryHackMe Badge

on:
  schedule:
    - cron: '0 0 * * *' # Runs every day at midnight
  workflow_dispatch: # Allows manual triggering

jobs:
  update-badge:
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Configure Git Identity
      run: |
        git config --global user.name "GitHub Actions Bot"
        git config --global user.email "actions@github.com"
    - name: Fetch TryHackMe Badge
      uses: DhanushNehru/tryhackme-badge-action-workflow@v1.0
      with:
        image_path: './assets/tryhackme-badge.png'
        username: 'dhanushnehru'
        user_id: '1995656'
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Configure Git Identity
      run: |
        git config --global user.name "GitHub Actions Bot"
        git config --global user.email "actions@github.com"
  
    - name: Fetch TryHackMe Badge
      uses: DhanushNehru/tryhackme-badge-action-workflow@v1.0
      with:
        image_path: './assets/tryhackme-badge.png'
        username: 'dhanushnehru'
        user_id: '1995656'
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  
    - name: Commit and push badge if changed
      env:
        COMMIT_MESSAGE: "Updated THM profile badge"
      run: |
        git add ./assets/tryhackme-badge.png || true
  
        # If there are no staged changes, exit successfully
        if git diff --cached --quiet; then
          echo "No changes to commit"
          exit 0
        fi
  
        git commit -m "$COMMIT_MESSAGE"
        git push origin "${{ github.ref_name }}"
